.header__bottom-btn, .service__btn, .provider__item-btn, .info__btn {
  padding: 18px 0px;
  width: 200px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 55px;
  color: #458FF6;
  border: 1.4px solid #458FF6;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: all .3s;
}

.header__bottom-btn:hover, .service__btn:hover, .provider__item-btn:hover, .info__btn:hover {
  background-color: #458FF6;
  color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Mulish";
  color: #7D7987;
  overflow-x: hidden;
}

.container {
  width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  padding-bottom: 25px;
  margin-bottom: 30px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 2px;
  background-color: #000;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.text, .service__item-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
}

.header {
  padding: 55px 0px 90px;
}

.header__inner {
  position: relative;
}

.header__dots {
  position: absolute;
  top: 130px;
  left: -230px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.header__logo {
  display: block;
}

.header__menu {
  display: flex;
}

.header__item {
  margin-right: 40px;
  transition: all .3s;
}

.header__item:last-child {
  margin-right: 0;
}

.header__item:hover {
  color: black;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__bottom-left {
  width: 40%;
}

.header__bottom .title {
  padding-bottom: 0;
}

.header__bottom .title::after {
  content: "";
  width: 0;
}

.header__bottom-title {
  font-size: 48px;
}

.header__bottom-text {
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 45px;
}

.header__bottom-img {
  position: relative;
  right: -30px;
  top: 0;
}

.service {
  padding: 100px 0;
}

.service__inner {
  position: relative;
}

.service__inner-dots {
  position: absolute;
  right: 20px;
  bottom: 42%;
  z-index: -1;
}

.service__inner-drop {
  position: absolute;
  top: 45%;
  transform: translateY(-45%);
  left: -30%;
  z-index: -1;
}

.service__title, .service__text {
  text-align: center;
}

.service__text {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 80px;
}

.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 0px 50px 70px;
}

.service__item {
  display: grid;
  grid-template-rows: 100px 1fr;
  padding: 55px 45px 45px 35px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  background: #FFFFFF;
  border-radius: 20px;
}

.service__item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  color: #000000;
}

.service__item-text {
  font-size: 16px;
  line-height: 28px;
}

.service__btn {
  display: block;
  margin: 0 auto;
}

.provider {
  padding: 120px 0 150px;
}

.provider__inner {
  position: relative;
}

.provider__inner-dots {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30%;
}

.provider__list {
  display: grid;
  gap: 200px;
}

.provider__item {
  display: flex;
  align-items: center;
}

.provider__item-img {
  position: relative;
  margin-right: 115px;
}

.provider__item-text {
  margin-bottom: 35px;
}

.provider__item-btn--download {
  display: flex;
  align-items: center;
  justify-content: center;
}

.provider__item-btn--download > span {
  display: block;
  margin-right: 15px;
}

.provider__item-btn--download > img {
  display: block;
}

.provider__item-btn--download:hover > img {
  content: url("../img/provider/download-arrow2.svg");
}

.provider__item:nth-child(odd) > div {
  margin-right: 75px;
}

.provider__item:nth-child(odd) > img {
  left: -55px;
}

.provider__item:nth-child(even) {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.provider__item:nth-child(even) > div {
  margin-left: 90px;
  margin-right: 70px;
}

.provider__item:nth-child(even) > img {
  right: -25px;
  margin-right: 0;
}

.provider__item .title::after {
  content: "";
  left: 28px;
}

.feedback {
  padding: 100px 0;
}

.feedback__inner {
  padding: 0 60px;
}

.feedback__block {
  padding: 65px 120px 80px;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
}

.feedback__title {
  text-align: center;
  line-height: 48px;
  color: #FFFFFF;
  margin-bottom: 90px;
}

.feedback .title::after {
  background-color: #FFFFFF;
}

.feedback__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback__item-img {
  border-radius: 50%;
  border: 5px solid #fff;
  margin-right: 30px;
}

.feedback__item > div {
  margin-right: 110px;
  color: #FFFFFF;
}

.feedback__item-name {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}

.feedback__item-position {
  font-weight: normal;
  font-size: 18px;
}

.feedback__item-text {
  width: 420px;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}

.feedback__left-btn {
  background-color: transparent;
}

.info {
  padding: 100px 0;
}

.info__title {
  text-align: center;
}

.info__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  padding: 0 50px;
  margin-bottom: 70px;
}

.info__item {
  border-radius: 20px;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.info__item-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.info__item-bottom {
  padding: 25px 50px 35px 35px;
}

.info__item-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 10px;
}

.info__item-text {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 25px;
}

.info__item-link {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ED;
  position: relative;
}

.info__item-link::after {
  content: "";
  position: absolute;
  background-image: url("../img/info/arrow.svg");
  width: 15px;
  height: 10px;
  background-position: 0 0;
  background-repeat: no-repeat;
  top: 8px;
  right: -30px;
}

.info__btn {
  display: block;
  margin: 0 auto;
}

.footer {
  padding: 125px 0 115px;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.footer__inner {
  display: flex;
  position: relative;
}

.footer__copyright {
  width: 50%;
  font-weight: 300;
  color: #FFFFFF;
  line-height: 28px;
}

.footer__copyright-logo {
  margin-bottom: 15px;
}

.footer__copyright-text {
  font-size: 18px;
  margin-bottom: 30px;
}

.footer__copyright-right {
  font-size: 16px;
}

.footer__menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.footer__menu-item {
  color: #FFFFFF;
}

.footer__menu-item p {
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
}

.footer__menu-item li {
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
}

.footer__dots-right {
  position: absolute;
  top: -200px;
  right: -50px;
}

.footer__dots-left {
  position: absolute;
  bottom: -115px;
  left: -150px;
}
