@import "vars";
@import "extends";

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: $accent-font;
    color: $accent-color;
    overflow-x: hidden;
}

.container {
    width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    padding-bottom: 25px;
    margin-bottom: 30px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 56px;
        height: 2px;
        background-color: #000;

        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.text {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.header {
    padding: 55px 0px 90px;
    
    &__inner {
        position: relative;
    }

    &__dots {
        position: absolute;
        top: 130px;
        left: -230px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 80px;
    }

    &__logo {
        display: block;
    }

    &__menu {
        display: flex;
    }

    &__item {
        margin-right: 40px;
        transition: all .3s;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: darken($accent-color, 70%);
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;

        &-left {
            width: 40%;

        }

        // Переопределил частично глобальные свойства для этого класса
        .title {
            padding-bottom: 0;

            &::after{
                content: "";
                width: 0;
            }
        }
        
        &-title {
            font-size: 48px;
        }

        &-text {
            font-size: 21px;
            line-height: 32px;
            margin-bottom: 45px;
        }

        &-btn {
            @extend %button;

            &:hover {
                @extend %button-hover;
            }
        }

        &-img {
            position: relative;
            right: -30px;
            top: 0;
        }
    }
}

.service {
    padding: 100px 0;
    
    &__inner {
        position: relative;

        &-dots {
            position: absolute;
            right: 20px;
            bottom: 42%;
            z-index: -1;
        }

        &-drop {
            position: absolute;
            top: 45%;
            transform: translateY(-45%);
            left: -30%;
            z-index: -1;
        }
    }

    &__title, &__text {
        text-align: center;
    }

    &__text {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        margin: 0px 50px 70px;
    }

    &__item {
        display: grid;
        grid-template-rows: 100px 1fr;

        padding: 55px 45px 45px 35px;
        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
        background: #FFFFFF;
        border-radius: 20px;

        &-title {
            font-weight: bold;
            font-size: 24px;
            line-height: 56px;
            color: #000000;
        }

        &-text {
            @extend .text;
            font-size: 16px;
            line-height: 28px;
        }
    }

    &__btn {
        display: block;
        margin: 0 auto;
        @extend %button;

        &:hover {
            @extend %button-hover;
        }
    }
}

.provider {
    padding: 120px 0 150px;

    &__inner {
        position: relative;

        &-dots {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -30%;
        }
    }

    &__list {
        display: grid;
        gap: 200px;
    }

    &__item {
        display: flex;
        align-items: center;

        &-img {
            position: relative;
            margin-right: 115px;
        }

        &-text {
            margin-bottom: 35px;
        }

        &-btn {
            @extend %button;

            &:hover {
                @extend %button-hover;
            }

            &--download {
                display: flex;
                align-items: center;
                justify-content: center;

                > span {
                    display: block;
                    margin-right: 15px;
                }

                > img {
                    display: block;
                }

                &:hover {
                    > img { 
                        content: url('../img/provider/download-arrow2.svg');
                    }
                }
            }
        }

        &:nth-child(odd) {
            > div {
                margin-right: 75px;
            }

            > img {
                left: -55px;
            }
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
            justify-content: space-between;

            > div {
                margin-left: 90px;
                margin-right: 70px;
            }

            > img {
                right: -25px;
                margin-right: 0;
            }
        }

        .title {
            &::after {
                content: "";
                left: 28px;
            }
        }
    }
}

.feedback {
    padding: 100px 0;

    &__inner {
        padding: 0 60px;
    }

    &__block {
        padding: 65px 120px 80px;
        background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
        border-radius: 24px;
    }

    &__title {
        text-align: center;
        line-height: 48px;
        color: #FFFFFF;

        margin-bottom: 90px;
    }

    .title::after {
        background-color: #FFFFFF;;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;

        &-img {
            border-radius: 50%;
            border: 5px solid #fff;

            margin-right: 30px;
        }

        > div {
            margin-right: 110px;
            color: #FFFFFF;
        }

        &-name {
            font-weight: bold;
            font-size: 22px;
            margin-bottom: 20px;
        }

        &-position {
            font-weight: normal;
            font-size: 18px;
        }

        &-text {
            width: 420px;
            font-size: 19px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.9);
        }
    }

    &__left-btn {
        background-color: transparent;
    }
}

.info {
    padding: 100px 0;
    &__title {
        text-align: center;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;

        padding: 0 50px;
        margin-bottom: 70px;
    }

    &__item {
        border-radius: 20px;
        background: #FFFFFF;
        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);

        &-img {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        &-bottom {
            padding: 25px 50px 35px 35px;
        }

        &-title {
            font-weight: bold;
            font-size: 21px;
            line-height: 32px;
            color: #000000;
            margin-bottom: 10px;
        }

        &-text {
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 25px;
        }

        &-link {
            font-weight: 600;
            font-size: 17px;
            line-height: 28px;
            color: #4089ED;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                background-image: url('../img/info/arrow.svg');
                width: 15px;
                height: 10px;
                background-position: 0 0;
                background-repeat: no-repeat;

                top: 8px;
                right: -30px;
            }
        }
    }

    &__btn {
        display: block;
        margin: 0 auto;
        @extend %button;

        &:hover {
            @extend %button-hover;
        }
    }
}

.footer {
    padding: 125px 0 115px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);

    
    &__inner {
        display: flex;
        position: relative;
    }

    &__copyright {
        width: 50%;
        // margin-right: 150px;
        font-weight: 300;
        color: #FFFFFF;
        line-height: 28px;

        &-logo {
            margin-bottom: 15px;
        }

        &-text {
            font-size: 18px;
            margin-bottom: 30px;
        }

        &-right {
            font-size: 16px;
        }
    }

    &__menu {
        display: flex;
        width: 100%;
        justify-content: space-around;

        &-item {
            color: #FFFFFF;

            p {
                font-weight: bold;
                font-size: 20px;
                line-height: 60px;
            }

            li {
                font-weight: 300;
                font-size: 18px;
                line-height: 38px;
            }
        }
    }

    &__dots {
        &-right {
            position: absolute;
            top: -200px;
            right: -50px;
        }

        &-left {
            position: absolute;
            bottom: -115px;
            left: -150px;
        }
    }
}